# dotenv and other environment variables file
.env
dashboardAndScreenshotGeneration/scrotConfig.json

# sensitive data
esp32-eink-fetch-and-display-image/Fetch_and_display_image/wifienv.h
esp32-measure-humidity-and-temperature-and-send-to-listener/wifideets.py

# files written by apps
dashboardAndScreenshotGeneration/weather.json
dashboardAndScreenshotGeneration/humidityAndTemp.json
imageProcessAndSend/dash.png

# Dependency directories
*/node_modules/

# .DS_Store files
.DS_Store
*/.DS_Store
