# dotenv environment variables file
.env

# sensitive data
esp32-eink-fetch-and-display-image/Fetch_and_display_image/wifienv.h
esp32-measure-humidity-and-temperature-and-send-to-listener/wifideets.py

# files written by apps
dashboardAndScreenshotGeneration/weather.json
humidityAndTemperatureListener/humidityAndTemp.json
imageProcessAndSend/dash.png

# Dependency directories
imageProcessAndSend/node_modules/
dashboardAndScreenshotGeneration/node_modules/

# .DS_Store files
.DS_Store
*/.DS_Store
